.Box:hover,
.Box:focus,
.Box:active {
    color:aqua;
    transition: color 0.5s ease;
}.Box {
    color: gray;
}
.footer {
    margin: calc(100% - 37cm);
    height: calc(100% - 50px);
    width: 100%;
    bottom: 0cm;
    left: 0;
}